/*Reset de estilos*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5% ;
}
/*variables*/
:root{
    --color-principal1: #E5B301 ;
    --color-principal2: black ;
    --font-family-text:'Roboto', sans-serif;
}
.page-header {
    width: 100%;
    background-color:var(--color-principal2);
    max-height: 44vh;
    
}
h1{
    color:var(--color-principal1);
    font-family:var(--font-family-text);
    display:inline;
    margin-left: 58rem;
    font-size: 4.8rem;
    text-align: center;
    font-weight: 500;
    
    
}
.contenedor_vacio{
    height: 10rem;
}
.nombre{
    color:var(--color-principal1);
    font-size: 3rem;
    font-family:var(--font-family-text);
    text-align: center 
}
.main-nav {
    list-style: none;
    text-align: right;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    
}
.main-nav__item{
    display: inline-block;
    font-size: 2.4rem;
    font-family:var(--font-family-text);
    color:var(--color-principal1);
    padding: 0.8rem;

}
.main-nav__item a {
    color: var(--color-principal1);
}
.main-nav__item a:hover {
    color:white;
}
.principal{
    background-color: var(--color-principal1);
    width: 100%;
    height: 60vh;
}
h2{
    text-align: center;
    font-size: 4rem;
    font-family:var(--font-family-text);
    padding-top: 5rem;
    font-weight: 600;
}
.parrafo-presentacion p {
    color:var(--color-principal2);
    font-family:var(--font-family-text);
    font-size: 2.2rem;
    padding-top: 7rem;
    margin: auto;
    max-width: 100rem;
}
.box-container{
    display: flex;
    justify-content: end;
    padding-right: 34rem;

}
.parrafo-presentacion{
    text-align: center;
    display: flex;
    justify-content:flex-end;
    height: 3rem;
    width: 40rem;
}
img{
    width: 20rem;
    height: 20rem;
    margin-left: 30rem;
    border-radius: 1.4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
/*footer*/
.footer-page {
    width: 100%;
    height: 41vh;
    display: flex;
    background-color:var(--color-principal2);
    justify-content: center;
}
.contacto {
    color:var(--color-principal1) ;
    font-weight: 600;
    font-size: 3rem;
    font-family:var(--font-family-text);
    text-align: center;
    padding-top: 4rem;
}
.texto-contacto a {
    color: var(--color-principal1) ;
    font-size: 2rem;
    font-family:var(--font-family-text);
    display: block;
    font-weight: 400;
    padding-top: 2rem;
}
.texto-contacto a:hover {
    color: white;
}